includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
	level: 8
	paths:
		- src
	ignoreErrors:
		-
			message: '~If condition is always false\.~'
			path: src/Bridge/Nette/DI/FileStorageLatteExtension.php
